@import "tailwindcss";
@import "tw-animate-css";

:root {
  --rainbow: linear-gradient(
    to right,
    #ff0000 0%,
    #ffff00 17%,
    #00ff00 33%,
    #00ffff 50%,
    #0000ff 66%,
    #ff00ff 83%,
    #ff0000 100%
  );
}

@layer base {
  @font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/InterVariable.woff2") format("woff2");
  }
  @font-feature-values InterVariable {
    @character-variant {
      cv01: 1;
      cv02: 2;
      cv03: 3;
      cv04: 4;
      cv05: 5;
      cv06: 6;
      cv07: 7;
      cv08: 8;
      cv09: 9;
      cv10: 10;
      cv11: 11;
      cv12: 12;
      cv13: 13;
      alt-1: 1; /* Alternate one */
      alt-3: 9; /* Flat-top three */
      open-4: 2; /* Open four */
      open-6: 3; /* Open six */
      open-9: 4; /* Open nine */
      lc-l-with-tail: 5; /* Lower-case L with tail */
      simplified-u: 6; /* Simplified u */
      alt-double-s: 7; /* Alternate German double s */
      uc-i-with-serif: 8; /* Upper-case i with serif */
      uc-g-with-spur: 10; /* Capital G with spur */
      single-story-a: 11; /* Single-story a */
      compact-lc-f: 12; /* Compact f */
      compact-lc-t: 13; /* Compact t */
    }
    @styleset {
      ss01: 1;
      ss02: 2;
      ss03: 3;
      ss04: 4;
      ss05: 5;
      ss06: 6;
      ss07: 7;
      ss08: 8;
      open-digits: 1; /* Open digits */
      disambiguation: 2; /* Disambiguation (with zero) */
      disambiguation-except-zero: 4; /* Disambiguation (no zero) */
      round-quotes-and-commas: 3; /* Round quotes &amp; commas */
      square-punctuation: 7; /* Square punctuation */
      square-quotes: 8; /* Square quotes */
      circled-characters: 5; /* Circled characters */
      squared-characters: 6; /* Squared characters */
    }
  }
}

@theme inline {
  --background-image-rainbow: var(--rainbow);

  --font-inter: var(--font-inter), "sans-serif";
}

@layer base {
  :root {
    --font-inter: InterVariable;
  }
  html {
    @apply scroll-smooth scroll-none;
  }
  body,
  main {
    @apply min-h-screen w-full;
  }
  body {
    @apply bg-white text-black font-inter antialiased;
  }
}

@utility scroll-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .slider {
    box-shadow:
      inset 0 0 0 0.5px #0000001a,
      0 1px 3px #0000001a;
  }
  .white-overlay {
    background: linear-gradient(90deg, #ffffff, #ffffff00);
  }
  .black-overlay {
    background: linear-gradient(0deg, #000000, transparent);
    box-shadow: inset 0 0 0 0.5px #1717171a;
  }
  .bg-alpha {
    background-image: conic-gradient(
      transparent 90deg,
      #ffffff1a 90deg 180deg,
      transparent 180deg 270deg,
      #ffffff1a 270deg
    );
    background-size: 10px 10px;
  }
}
